main h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
article {
  background-color: #FFFFFF;
  color: #808080
}
p {
  text-align: center;
}
main {
  background-image: url("fundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed
}